:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainGrey) !important;
  color: var(--mainBlack) !important;
}

.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
}

.text-main {
  color: var(--primaryColor);
}

.main-link {
  padding: 0.8rem 1.3rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--mainWhite);
  outline-offset: -4px;
  border: none;
  transition: var(--mainTransition);
}

.main-link:hover {
  background: var(--darkGrey);
  text-decoration: none;
  color: var(--mainWhite);
}
